.footerDiv {
  height: 150px;
}
#footerIcons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  height: 100%;
  background-color: #e22020;
  border-top: 3px solid #f8f004;
  box-shadow: 0px -3px 10px 0px black;
}
.footerIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  background-color: black;
  color: #e22020;
}
.links {
  text-decoration: none;
}

/* ----------------------------- */
/* --youtube right arrow */
.youtubeArrow {
  height: 0;
  width: 0;
  border-left: 40px solid white;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  transform: translateX(5px);
}
.imgurIcon {
  width: 100%;
  height: auto;
  padding: 0 10px 0 10px;
}
.resumeText {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  transform: translateY(5px);
}