.footerDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 150px;
  background-color: #e22020;
  border-top: 3px solid #f8f004;
  box-shadow: 0px -3px 10px 0px black;  
}
.footerIcon {
  height: 100px;
  width: 100px;
}
.sigIcon, .resumeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100px;
  width: 100px;
  margin: 3px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}


